$color-primary: #0584FE;
$color-primary-emphasis: #1253A2;
$color-secondary: #FFFFFF;
$color-item-background: #FBFCFD;
$color-item-outline: #EEEFF1;
$color-form-outline: #BCBCBC;
$color-input-outline: #007AFF;
$color-radio-unchecked: #D9D9D9;
$color-radio-checked: #007AFF;

$font-family: 'PT Sans', sans-serif;

$font-color-dark: #000000;
$font-color-gray: #383838;
$font-color-gray-light: #8F8F8F;
$font-color-light: #FFFFFF;